.center{

  text-align: center;
}

.imagecenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.projectsbanner
{
  width: 35%;
}

.homebanner
{
  width: 25%;
}
.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}

body{
  margin: 0px;
  width: 100%;
}
